.PageContainer {
  background-color: #f8f6f7;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  overflow: hidden;
}

.AboutHeader h2 {
  color: #692c2b;
  font-family: "Berlin Sans FB";
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  letter-spacing: 1px;
  color: #6c2c2c;
}

.AboutHeader img {
  width: 100%;
  max-height: 700px;
  filter: drop-shadow(5px 5px 5px #222);
  object-fit: cover;
}

.RotisserieContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
}

.RotisserieText {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: left;
  color: #692c2b;
  padding: 0% 5% 5% 5%;
  line-height: 35px;
}

.RotisserieText h2 {
  font-family: "Berlin Sans FB";
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  letter-spacing: 1px;
  color: #6c2c2c;
  font-size: 48px;
  width: 100%;
}

.RotisserieText p {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}

.RotisserieText a {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  background-color: #d12728;
  color: white;
  height: 50px;
  width: 175px;
  border-radius: 4px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
}

.RotisseriePhoto {
  width: 50%;
  max-width: 800px;
}

.RotisseriePhoto img {
  max-height: 700px;
  object-fit: cover;
  width: 100%;
  filter: drop-shadow(5px 5px 5px #222);
}

.BeginningsPhotos {
  background: url(../images/grey-background.jpg);

  width: 100%;
  filter: drop-shadow(5px 5px 5px #222);
}

.BeginningsPhotos img {
  padding-top: 50px;
  max-height: 700px;
  object-fit: cover;
  width: 100%;
  filter: drop-shadow(5px 5px 5px #222);
}

.OurBeginnings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 5% 10% 5%;
  flex-direction: column;
  align-items: center;
}

.OurBeginnings h2 {
  font-family: "Berlin Sans FB";
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;

  color: #6c2c2c;
}
.OurBeginnings img {
  height: 50px;
  opacity: 0.8;
}

.OurBeginnings p {
  padding: 0 0 5%;
  max-width: 1000px;
  line-height: 40px;
  font-size: 24px;
  width: 90%;
  font-weight: 600;
}

.OurBeginnings a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d12728;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
}
.FeedingFamilies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: url(../images/grey-background.jpg);
  padding: 5% 5% 10% 5%;
  width: 100%;
  filter: drop-shadow(5px 5px 5px #222);
  overflow: hidden;
}

.FeedingFamiliesText {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-evenly;
}

.FeedingFamiliesText h2 {
  font-family: "Berlin Sans FB";
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6c2c2c;
  text-align: left;
}

.FeedingFamiliesText p {
  max-width: 1000px;
  text-align: left;
  line-height: 40px;
  font-size: 24px;
  font-weight: 600;
}

.FeedingFamilies a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d12728;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
}
.Meal img {
  overflow-x: hidden;

  margin-top: -10%;
  margin-left: 45%;
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
}

@media (max-width: 1150px) {
  .RotisserieContainer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: space-between;
  }

  .RotisserieText {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    text-align: left;
    color: #692c2b;

    line-height: 35px;
  }

  .RotisserieText h2 {
    font-family: "Berlin Sans FB";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #6c2c2c;
    width: 100%;
  }

  .RotisserieText p {
    font-size: 22px;
    padding: 0% 0% 5%;
  }

  .RotisserieText a {
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 50px;
    min-width: 180px;
    width: 35%;
    border-radius: 4px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }

  .RotisseriePhoto {
    width: 100%;
    max-width: 800px;
    padding: 10% 0 5% 0;
  }

  .RotisseriePhoto img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }
  .BeginningsPhotos {
    padding-top: 2%;
    background: url(../images/grey-background.jpg);
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .BeginningsPhotos img {
    padding-top: 20px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .OurBeginnings {
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  .OurBeginnings h2 {
    font-family: "Berlin Sans FB";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;

    color: #6c2c2c;
  }
  .OurBeginnings img {
    height: 50px;
    opacity: 0.8;
  }

  .OurBeginnings p {
    max-width: 800px;
    line-height: 35px;
    font-size: 22px;
  }

  .OurBeginnings a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 50px;
    width: 40%;
    border-radius: 4px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
  .FeedingFamilies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/grey-background.jpg);

    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .FeedingFamiliesText {
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }

  .FeedingFamiliesText h2 {
    font-family: "Berlin Sans FB";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #6c2c2c;
    text-align: left;
  }

  .FeedingFamiliesText p {
    max-width: 800px;
    text-align: left;
    line-height: 35px;
    font-size: 22px;
    width: 90%;
  }

  .FeedingFamilies a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 50px;
    min-width: 200px;
    width: 30%;
    border-radius: 4px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }

  .FeedingFamilies img {
    position: absolute;
    top: 50%;
    width: 50%;
    left: 30%;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
  .Meal img {
    overflow-x: hidden;

    margin-top: -20%;
    margin-left: 45%;
    width: 70%;
    max-width: 500px;
    min-width: 200px;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
}
@media (max-width: 480px) {
  .AboutHeader h2 {
    color: #692c2b;
    font-family: "Berlin Sans FB";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #6c2c2c;
  }
  .RotisserieContainer {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
  }

  .RotisserieText {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    text-align: left;
    color: #692c2b;
    line-height: 35px;
    padding: 0 0 5% 0;
  }

  .RotisserieText h2 {
    font-family: "Berlin Sans FB";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #692c2b;
    width: 100%;
  }

  .RotisserieText p {
    color: #3a3535;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    padding: 5% 0 5%;
  }

  .RotisserieText a {
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 55px;
    width: 40%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }

  .RotisseriePhoto {
    width: 100%;
    max-width: 800px;
    padding-top: 5%;
  }

  .RotisseriePhoto img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }
  .BeginningsPhotos {
    background: url(../images/grey-background.jpg);
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .BeginningsPhotos img {
    padding-top: 20px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .OurBeginnings {
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  .OurBeginnings h2 {
    font-family: "Berlin Sans FB";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #6c2c2c;
  }
  .OurBeginnings img {
    height: 30px;
    opacity: 0.8;
  }

  .OurBeginnings p {
    max-width: 800px;
    line-height: 35px;
    font-size: 15px;
    padding: 0 0 5%;
  }

  .OurBeginnings a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 50px;
    font-size: 16px;
    min-width: 200px;
    width: 40%;
    border-radius: 4px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
  .FeedingFamilies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/grey-background.jpg);
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
    padding: 5% 5% 10% 5%;
  }

  .FeedingFamiliesText {
    display: flex;
    text-align: left;
    flex-direction: column;
    max-width: 650px;
  }

  .FeedingFamiliesText h2 {
    font-family: "Berlin Sans FB";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #6c2c2c;
    text-align: left;
  }

  .FeedingFamiliesText p {
    max-width: 400px;
    text-align: left;
    line-height: 35px;
    font-size: 15px;
    padding: 0% 0% 5% 0%;
  }

  .FeedingFamilies a {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #d12728;
    color: white;
    height: 50px;
    width: 40%;
    border-radius: 4px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }

  .FeedingFamilies img {
    position: absolute;
    width: 50%;

    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
  .Meal img {
    overflow-x: hidden;

    margin-top: -22%;
    margin-left: 60%;
    width: 60%;
    max-width: 500px;
    min-width: 200px;
    filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
  }
}
