.CateringContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  color: rgb(63, 60, 60);
  overflow: hidden;
}

.CateringContainer h2 {
  font-size: 24px;
  color: rgb(63, 60, 60);
  font-family: "Hand Crafted";
}

.CateringContainer p {
  font-family: "Gotham-Black";
  font-size: 16px;
  width: 90%;
  max-width: 800px;
}
.CateringContainer a {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #d12728;
  color: white;
  font-size: 15px;
  height: 40px;
  width: 155px;
  border-radius: 2px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 3px rgb(73, 72, 72));
}

.CateringHero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 300px;
  padding-top: 130px;
  background: url(../images/catering_hero.jpg);
  background-position: center;
  background-size: cover;
}

.CateringHero h2 {
  color: white;
}

.LineHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Line {
  height: 2px;
  width: 25%;
  background-color: rgb(97, 14, 14);
}
.CateringHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5% 0 5% 0;
}
.CateringHeader h2 {
  width: 90%;
  font-size: 28px;
}
.CateringHeader p {
  max-width: 800px;
  line-height: 35px;
  width: 90%;
}

.CateringPhotos {
  display: flex;
  background-color: #f8f6f7;
  max-height: 400px;
  width: 100%;
  padding: 2% 0 2% 0;
}
.CateringPhotos img {
  object-fit: cover;
  width: 50%;
}
.CateringPackagesHeader {
  width: 100%;
  max-width: 1300px;
  display: flex;
  text-align: left;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.Order {
  padding: 0 5%;
}
.Brush {
  position: absolute;
  width: 100%;

  overflow: hidden;
  z-index: -1;
}
.Brush img {
  overflow-x: hidden;
  margin-left: 50%;
  margin-top: 3%;
  width: 90%;
  opacity: 0.3;
}
.CateringPackages {
  background-color: #f8f6f7;
  padding: 0% 0 2% 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.PackageHeader {
  display: flex;
  justify-content: space-evenly;
}
.PackageHeader button {
  font-family: "Gunnar";
  background-color: transparent;
  border: 0;
  padding: 2%;
}

.PackageHeaderOff button {
  background-color: white;
}
.PackageCategory {
  background-color: #f8f6f7;
  width: 33%;
  padding: 2%;
}

.PackageCategoryOff {
  background-color: white;
  width: 33%;
  padding: 2%;
}
.PackageCategoryOff button {
  color: grey;
}

.Package {
  display: flex;
  max-width: 1300px;
}
.Package img {
  object-fit: cover;
  padding: 2% 0 0 0;
  width: 50%;
}
.PackageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}
.PackageDescription p {
  text-align: center;
  width: 70%;
}
.HowItWorks {
  padding: 5%;
}
.HowSteps {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  padding-top: 5%;
}

.How {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.HowNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 32px;
  background-color: #d12728;
  color: white;
}
.HowNumber h5 {
  font-size: 16px;
  font-weight: bold;
}
.How p {
  width: 90%;
}

.StepHeader {
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: flex-start;
}

.StepDescription {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: flex-start;
}

.RequestForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.RequestForm form {
  width: 90%;
}
.RequestForm p {
  width: 90%;
}
.RequestForm input {
  padding: 1% 2%;
  width: 82%;
  height: 35px;
  background-color: rgb(212, 207, 207);
  border: 0;
  margin: 2%;
}
.RequestRow {
  width: 100%;
}
.RequestRow input {
  width: 37%;
  margin: 2%;
}

.RequestForm h6 {
  width: 60%;
  font-size: 12px;
  color: rgb(136, 135, 135);
}

@media (max-width: 650px) {
  .CateringContainer h2 {
    font-size: 18px;
    padding: 2% 0 2%;
  }
  .CateringContainer p {
    font-size: 14px;
  }
  .CateringPhotos {
    display: flex;
    flex-direction: column;
    max-height: 800px;
  }
  .CateringPhotos img {
    width: 100%;
  }

  .HowSteps {
    display: flex;
    flex-direction: column;
  }
  .How {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .How p {
    width: 90%;
    font-size: 15px;
  }
}
