body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background: url(../images/wallpaper3.jpg);
  height: 850px;
  background-size: cover;
  justify-items: center;

  position: relative;
  z-index: -1;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 50%;
  background-size: cover;
  background-position: center;
  padding: 250px 25px 250px 125px;
  text-align: left;
  justify-items: center;
  position: relative;
}

.HeroHeader {
  flex-direction: row;
  width: 100%;
  display: inline-flex;
  max-width: 1800px;
}

.Tablet {
  justify-content: flex-start;
  width: 50%;
  padding: 200px 60px;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
  padding: 0 0 20px 0;
}

.Hero a {
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.Hero a:hover {
  background: white;
  color: black;
}

.Hero img {
  height: 450px;
  width: 650px;
}

.Waves {
  position: absolute;
  top: 16%;
  left: 0%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.WhiteWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s cubic-bezier(0.2, 0.82, 0.2, 1);
  z-index: -2000;
}

.WhiteWave svg {
  bottom: 0;
  z-index: -2000;
}

.Description {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 0 0px 150px;
  z-index: 2;
  margin-top: -8%;
  max-width: 1800px;
}

.DescriptionGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  justify-content: center;
  padding: 25px 0 75px;
}

.DescriptionSection {
  width: 33%;
  height: 200px;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-items: center;
}

.DescriptionSection p {
  color: rgb(49, 48, 48);
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
}

.DescriptionSection img {
  height: 100px;
  width: 100px;
}

.Description h1 {
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  z-index: 2;
}

.Description p {
  color: rgb(49, 48, 48);
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.How {
  display: inline-block;
  flex-direction: column;
  color: black;
  background-color: white;
  padding: 0 0 150px;
  z-index: 2;
  margin-top: -8%;
  justify-content: center;
  width: 90%;
  max-width: 1800px;
  align-self: center;
  justify-self: center;
}

.How h1 {
  color: black;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  z-index: 2;
}

.How p {
  color: rgb(49, 48, 48);
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.HowSection {
  display: inline-flex;
  width: 80%;
  height: 200px;
  padding: 50px 50px;
  align-items: center;
  align-self: center;
}

.HowDescription {
  width: 50%;
  padding: 0px 50px;
}

.HowDescription img {
  height: 280px;
  width: 425px;
}

.HowDescription h4 {
  color: rgb(49, 48, 48);
  font-size: 22px;
  text-align: start;
  width: 100%;
}

.HowDescription p {
  color: rgb(49, 48, 48);
  font-size: 20px;
  font-weight: 300;
  text-align: start;
  width: 100%;
}

.Customize {
  display: inline-block;
  color: black;
  width: 100%;
  background-color: rgb(206, 215, 235);
  padding: 100px 0 150px;
}

.Customize h1 {
  color: black;
  font-size: 28px;
  font-weight: 500;
}

.Customize img {
  height: 25px;
  width: 27px;
  padding: 0 50px;
}

.CustomizeSection {
  width: 80%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding: 0 10%;
}

.CustomizeGroup {
  text-align: start;
  width: 50%;
  padding: 0;
}

.CustomizeGroup h4 {
  font-size: 18px;
  padding: 0;
  color: black;
}
.CustomizeGroup p {
  font-size: 14px;
  padding: 0;
  color: rgb(41, 40, 40);
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 150px 20px;
  }
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
  .Waves {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .Waves svg {
    position: absolute;
    top: -100px;
    left: 0%;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
