.NewsContainer {
    display: flex;
    height: 100%;
    width: 90%;
    background-color: rgb(199, 190, 190);
    flex-direction: row;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.ContainerLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: white;
    color: black;
}

.ContainerLeft h3 {
    font-family: 'Berlin Sans FB';
    font-weight: 600;
    letter-spacing: 4px;
    color: #432727
}

.ContainerLeft a {
    font-weight: 600;
    letter-spacing: 4px;
    background-color: transparent;
    color: #432727
}

.ContainerLeft p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Berlin Sans FB Demi", sans-serif;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    color: #534a4a;
    padding: 0 30px 0 30px
}

.ContainerRight {
    width: 50%
}

.ContainerRight img {
    width: 100%;
    height: 100%
}