.Container {
    display:flex;
 
    height: 300px;
    background-color: rgb(199, 190, 190);
    flex-direction: row;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    
    
    
}

.ContainerLeft{
    width: 50%;
    align-content: center;
    background-color: white;
    color: black
}

.ContainerLeft p {
    color: black
}

.ContainerRight{
    width: 50%
}