.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Hand Crafted";

  src: local("Hand Crafted"), url("./fonts/HandCrafted.otf") format("otf"),
    url("./fonts/HandCrafted.eot?#iefix") format("embedded-opentype"),
    url("./fonts/HandCrafted.woff2") format("woff2"),
    url("./fonts/HandCrafted.woff") format("woff"),
    url("./fonts/HandCrafted.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Gunnar";
  src: local("Gunnar"), url("./fonts/Gunnar-Regular.otf") format("otf"),
    url("./fonts/Gunnar-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gunnar-Regular.woff2") format("woff2"),
    url("./fonts/Gunnar-Regular.woff") format("woff"),
    url("./fonts/Gunnar-Regular.svg#OpenSans") format("svg");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
